.banner{
    margin-left: 225px;
    margin-top: 70px; 
}

h1{
    margin: 0px;
    margin-bottom: 40px;
    font-size: 48px;
}
h2{
    margin: 0px;
    font-size: 18px;
}

.colorName{
    color: #FF0101;
}

.board{
    margin-left: 225px;
    display: grid;
    margin-top: 77px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-right: 90px;
    gap: 30px;
    
}

.chartOne{
    grid-column: span 3;
}

.aside{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    grid-column-start: 4;
    grid-row: span 4;
}

@media screen and (max-width:1350px) {
    .board{
        margin-left: 150px;
    }
}

@media screen and (max-width:1170px) {
    .chartOne{
         grid-column: span 2;
    }  
    .aside{
        grid-column-start: 3;
        grid-row: span 1;
    } 

    .chartTwo{
        grid-row-start: 2;
    }
    .chartThree{
        grid-row-start: 2;
    }
    .chartFour{
        grid-row-start: 2;
    }
}