.choice{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    flex-direction: column;
    width: 100%;
}

.choice ul{
    display: flex;
    margin-top: 200px;
    width: fit-content;
    margin: auto;
    list-style-type: none;
    color: red;
    background-color: white;
    padding: 20px;
    border-radius: 25px;
    font-size: 24px;
    font-weight: 700;
}

.choice li{
    width: fit-content;
    margin: auto;
    list-style-type: none;
    color: red;
    background-color: white;
    padding: 20px;
    border-radius: 25px;
    border: 2px solid black;
    box-shadow: 5px 1px 10px 0px black;
    margin: 50px;
}