.sideBar{
    background-color: black;
    width: 117px;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.sideBarIcon{
    padding: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    list-style-type: none;
    margin: 250px 26px 0px 26px;  
}

.sideBarIcon li{
    margin-bottom: 20px;
}

h3{
    padding: 0px;
    font-size: 12px;
    margin: 0px;
    margin-top: 164px;
    transform: rotate(-90deg);
    white-space: nowrap;
}

@media screen and (max-height : 940px){
    .sideBarIcon{
        margin: 50px 26px 0px 26px;
    }
}